<div [formGroup]="applyForm" (submit)="submitInfo()">
<p id="please-enter">Please enter your information</p>
<form id="form">
    <!-- <label for="name">Name</label> -->
    <input id="name" type="text" formControlName="name" placeholder="Name">

    @if (!validName) {
        <p class="input-error">Required field: Please enter a name [1-100 character limit]</p>
    }

    <!-- <label for="age">Age</label> -->
    <div class="row-container">
        <input id="age" type="text" formControlName="age" placeholder="Age" [value]="age != '0' ? age : ''">
        <select name="age-type" id="cars" formControlName="ageType">
            <option class="age-type-option" value="Years">Years</option>
            <option class="age-type-option" value="Months">Months</option>
        </select>
    </div>

    @if (!validAge) {
        <p class="input-error">Required field: Please enter an age [1-125 age limit]</p>
    }

    <div class="row-container">
        <label id="student-label">Are you a student?</label>
        <div class="studnet-choice">
            <label id="isStudentLabel" for="isStudent">Yes</label>
            <input id="isStudent" type="radio" name="student" (click)="setSchoolStatus(true)">
        </div>
        <div class="studnet-choice">
            <label id="isNotStudentLabel" for="isNotStudent">No</label>
            <input id="isNotStudent" type="radio" name="student" (click)="setSchoolStatus(false)">
        </div>
    </div>


    @if (isStudent) {
    <!-- <label for="school">School</label> -->
    <input id="school" type="text" formControlName="school" placeholder="School">
    }

    @if (!validSchool) {
        <p class="input-error">Please enter a valid school value [1-200 character limit]</p>
    }

    <button type="submit" id="submit">Add</button>
</form>

</div>